:root {
  --color-dark: #111;
  --color-light: #fff;
  --color-gray: #666;
  --color-lightgray: #f5f5f8;
  --color-primary: #0f71bc;
  --color-primary-light: #97b9d1;
  --color-primary-bright: #3ccfff;

  --font-english: "Poppins", sans-serif;
}

/* common parts */
body {
  color: var(--color-dark);
  background-color: var(--color-lightgray);
}

.button {
  font-size: 14px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 100px;
  border-style: none;
  color: var(--color-light);
  background: linear-gradient(to right, var(--color-primary), var(--color-primary-bright));
  box-shadow: 0 5px 10px rgba(60, 207, 255, .5);
}

.card {
  background-color: var(--color-light);
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  border: none;
}

.arrow {
  border-style: none;
  background-color: transparent;
}

.arrow--prev {
  color: var(--color-primary);
}

.arrow--next {
  color: var(--color-primary-light);
}

/* header */
.header {
  height: 64px;
  background-color: var(--color-light);
  padding: 0 40px;
}

.header__inner {
  display: flex;
  align-items: center;
  height: 100%;
}

.header__title {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.header__title__logo {
  width: 105px;
}

.header__title__inline {
  color: var(--color-primary-light);
  font-size: 13px;
  margin-left: 20px;
  font-family: var(--font-english);
}

.header__button {
  margin-left: auto;
  min-width: 175px;
}

/* main */
.main {
  max-width: 1180px;
  width: 100%;
  margin: 20px auto 0;
  padding: 0 40px;
}

.main__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/* time */
.time {
  display: grid;
  grid-template-rows: auto 1fr;
}

.time__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.time__item {
  padding: 12px 12px 6px 12px;
  text-align: center;
}

.time__item dt {
  font-family: var(--font-english);
  font-weight: 600;
  font-size: 16px;
  color: var(--color-primary);
}

.time__item dd {
  margin-top: 8px;
}

.time__item__inline--number {
  font-family: var(--font-english);
  font-weight: 600;
  font-size: 35px;
  display: block;
  line-height: 1;
}

.time__item__inline--hour {
  font-family: var(--font-english);
  font-size: 18px;
  display: block;
  color: var(--color-primary-light);
  line-height: 1;
  margin-top: 6px;
  font-weight: 300;
}

.time__graph {
  padding: 28px 24px 10px 20px;
}

/* chart */
.study {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.study__card {
  padding: 28px 20px 36px;
}

.study__title {
  font-size: 18px;
  font-weight: bold;
}

.study__chart {
  margin-top: 20px;
}

.study__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 16px;
  margin-top: 40px;
}

.study__item {
  display: inline-flex;
  align-items: center;
  font-family: var(--font-english);
  font-weight: 300;
  color: var(--color-gray);;
  font-size: 15px;
  white-space: nowrap;
  cursor: pointer;
}

.study__item.--hidden {
  text-decoration: line-through;
}

.study__item__circle {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  display: inline-block;
  background-color: var(--color-gray);;
  vertical-align: middle;
  margin-right: 3px;
}

/* footer */
.footer {
  margin-top: 35px;
  text-align: center;
}

.footer__date__button {
  font-size: 16px;
}

.footer__date__button--prev {
  color: var(--color-primary);
}

.footer__date__button--next {
  color: var(--color-primary-light);
}

.footer__date__inline {
  font-weight: bold;
  font-family: var(--font-english);
  font-size: 14px;
  margin: 0 6px;
}

.footer__button {
  display: none;
  min-width: 375px;
  font-size: 18px;
  margin-top: 25px;
}

/* modal */
.modal-dialog {
  max-width: 900px;
}

button.close.modal__close {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 24px;
  width: 34px;
  height: 34px;
  background-color: var(--color-lightgray);
  border-radius: 100%;
  opacity: 1;
  color: var(--color-gray);;
  z-index: 10;
}

.modal__container {
  background-color: var(--color-light);
  border-radius: 30px;
  border: none;
  padding: 48px 56px 28px;
}

.modal__layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  padding-bottom: 40px;
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s, visibility .4s;
}

.modal__layer[aria-hidden="false"] {
  opacity: 1;
  visibility: visible;
}

/* form in modal */
.form input,
.form textarea {
  font-family: var(--font-english);
  background-color: var(--color-lightgray);
  border-radius: 10px;
  padding: 12px 20px;
  border-style: none;
  width: 100%;
}

.form__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.form__list {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.form__title {
  display: block;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 6px;
}

.form__checkbox__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 12px 0 0px;
  gap: 8px;
}

.form__checkbox__label {
  position: relative;
  margin: 0;
  font-family: var(--font-english);
}

.form__checkbox__label input[type="checkbox"] {
  position: absolute;
  top: 5px;
  left: 0;
  opacity: 0;
}

.form__checkbox__label__inline {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.form__checkbox__label__inline--background {
  background-color: var(--color-lightgray);
  border-radius: 40px;
  padding: 5px 10px;
}

.form__checkbox__label__inline--twitter {
  font-size: 12px;
}

.form__checkbox__label__icon {
  background-color: #ccc;
  color: var(--color-light);
  width: 20px;
  height: 20px;
  display: inline-flex;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding-top: .1em;
}

.form__checkbox__label__icon--twitter {
  width: 30px;
  height: 30px;
  font-size: 20px;
}

.form__checkbox__label input[type="checkbox"]:checked ~ .form__checkbox__label__inline--background{
  background-color: #E7F5FF;
}

.form__checkbox__label input[type="checkbox"]:checked ~ .form__checkbox__label__inline .form__checkbox__label__icon{
  background-color: var(--color-primary);
}

.modal__footer {
  text-align: center;
  margin-top: 25px;
}

.form__submit__button {
  min-width: 375px;
  font-size: 20px;
}

.calendar {
  padding-top: 70px;
  z-index: 15;
}

.calendar__table {
  border: none;
  border-collapse: separate;
  border-spacing: 16px 8px;
  font-family: var(--font-english);
  text-align: center;
  font-weight: 600;
  margin: 0 auto;
}

.calendar__table th,
.calendar__table td {
  width: 38px;
  height: 35px;
}

.calendar__table td {
  font-size: 17px;
  cursor: pointer;
}

.calendar__table__button {
  font-size: 20px;
}

.calendar__table__heading__prev {
  text-align: right;
}

.calendar__table__heading__next {
  text-align: left;
}

.calendar__table__heading__title {
  font-size: 18px;
}

.calendar__table__day {
  font-size: 12px;
  color: var(--color-primary-light);
  vertical-align: bottom;
}

.calendar__table__day td {
  font-size: 15px;
}

.calendar__table .--past {
  color: #999;
}

.calendar__table .--disabled{
  visibility: hidden;
}

.calendar__table .--selected {
  background-color: var(--color-primary);
  border-radius: 50%;
  color: var(--color-light);
  position: relative;
}

.calendar__table .--selected::before {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  background-color: var(--color-primary);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar__table .--selected span {
  position: relative;
}

.calendar__button {
  font-size: 20px;
  min-width: 150px;
}

/* loading */
.loading,
.success {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #fff;
  background: linear-gradient(to right, var(--color-primary), var(--color-primary-bright));
  position: relative;
  animation: load 1.4s infinite linear;
  transform: translateZ(0);
}

.loader::before {
  width: 50%;
  height: 50%;
  background: #fff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.loader::after {
  background: #fff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* success */
.success__content__heading {
  color: #bde360;
  font-family: var(--font-english);
  font-size: 18px;
}

.success__content__icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #bde360;
  color: var(--color-light);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 42px;
  margin: 5px auto 0;
}

.success__content__text {
  display: block;
  font-size: 20px;
  margin-top: 40px;
}

/* responsive */
@media (max-width: 575px) { /* 〜575px */
  /* common */
  .header {
    padding: 0 20px;
  }

  .header__button {
    display: none;
  }

  .footer {
    margin-top: 14px;
    padding: 0 20px 20px;
  }

  .footer__date__inline {
    font-size: 13px;
  }

  .footer__button {
    display: inline-block;
  }

  /* main content */
  .main {
    padding: 0 20px;
  }

  .main__inner {
    gap: 15px;
  }

  .study__card {
    padding: 15px 15px 24px;
  }

  .study__title {
    font-size: 12px;
  }

  .study__chart {
    margin-top: 10px;
  }

  .study__list {
    margin-top: 10px;
    gap: 4px 10px;
  }

  .study__item {
    font-size: 10px;
  }

  .study__item__circle {
    width: 10px;
    height: 10px;
  }

  /* modal */
  .modal-dialog {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    top: 70px;
    right: 0;
    max-width: initial;
    margin: 0;
  }

  .modal__container {
    border-radius: 30px 30px 0 0;
    min-height: 100%;
    padding: 54px 20px 28px;
  }

  .form__inner {
    grid-template-columns: 1fr;
    gap: 22px;
  }

  .form input, .form textarea {
    padding: 8px 12px;
    border-radius: 8px;
    max-height: 100px;
  }

  .form__checkbox__list {
    margin: 0;
    gap: 6px 8px;
  }

  .form__checkbox__label {
    font-size: 14px;
  }

  .form__checkbox__label__inline--background {
    padding: 5px 12px;
  }

  .form__checkbox__label__icon:not(.form__checkbox__label__icon--twitter) {
    width: 18px;
    height: 18px;
  }
}

@media (min-width: 576px) { /* 576px〜 */
  .modal {
    padding: 0 20px;
  }

  .modal-dialog {
    margin: 95px auto;
  }
}

@media screen and (min-width: 576px) and (max-width: 1023px) { /* 576px〜1023px */
  /* main content */
  .main__inner {
    grid-template-columns: 1fr;
  }

  /* modal */
  .modal__container {
    padding: 48px 20px 28px;
  }
}
